# Ignore
.idea/*
__pycache__/
deepscapy/datasets/*
deepscapy/trained_models/*
deepscapy/results/ASCAD/ASCAD_desync0/*
auto_model/*
hypermodel/*
experiments2/test.py
experiments2/test_dice_bce_loss.py
/results/
/trained_models/
/rkl_baseline_models/
/.idea/
/.ipynb_checkpoints/
/notebooks/
/logs/
singularity/deepscapy.sif
excel_results.zip
/clusterout_files/

# Exceptions
!deepscapy/datasets/.gitkeep
!deepscapy/trained_models/.gitkeep
!deepscapy/results/.gitkeep
!deepscapy/results/ASCAD/.gitkeep
!deepscapy/results/ASCAD/ASCAD_desync0/.gitkeep
/old_results/
/models/
/dist/
/deepscapy.egg-info/
/build/
/excel_results_n/
/excel_results_se/
/rkl_baseline_models_attack_results/
/excel_results*/
/trained_models_nas/
/trained/
/.pytest_cache/

/experiments/hypermodel/
/experiments/logs/
/experiments/nas_*/
/nas_models/
/nas_trials_directory/
/logs2/
/resnet/
/wandb/
/nas_trials_directory_new/
